#board 
{
	border-style: solid;
	border-width: 1px;
	max-width: 150px;
}

#messageBoard
{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#miningBoard
{
	border-style: solid;
	border-width: 1px;
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.itemName
{
	min-width: 150px;
	float: left;
}

.itemStat
{
	min-width: 150px;
	float: left;
}

.itemPrice
{
	min-width: 150px;
	float: left;
}

#requestBoard
{
	border-style: solid;
	border-width: 1px;
	float: right;
	width: 900px;
	height: 900px;
}

#title
{
	font-size: large;
	font-style: bold;
}